body{
    display: flex;
    justify-content: center;

    background-color: yellow;

    margin-top: 250px;
}
.container {
    width: 400px;
    height: 558px;
    background-color: darkgray;

    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;

}

.displayContainer {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    
}

.display {
    display: flex;
    align-items:center;
    justify-content: center;

    width: 362px;
    height: 130px;
    background-color: white;

    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;

    font-size: xxx-large;
    font-family:monospace;
}

.clrDelContainer {
    display: flex;
    justify-content: center;

    padding: 5px;
    padding-top: 10px;
    gap: 5px;
    
}

.clrDelBtn {
    width: 181px;
    height: 65px;

    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;

    font-size: xx-large;
    font-family:monospace;
}

.btnContainer {
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 5px;

}

.btn {
    width: 88px;
    height: 70px;

    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;

    font-size: x-large;
    font-family:monospace;

}

.solar {
    background-color:lightblue;
}

.clrBtn {
    background-color: pink;
}